<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Saved Urls</title>
</head>
<body>
    {% if urls %}
        <table>
            <tr>
                <th>URL</th>
                <th>Created_at</th>
                <th>Expires_at</th>
                <th>Short_URL</th>
                <th>Action</th>
            </tr>
            {% for url in urls %}
            <tr>
                <td>{{ url.link }}</td>
                <td>{{ url.created_at }}</td>
                <td>{{ url.expires_at }}</td>
                <td>{{ url.short_id }}</td>
                <td><a href="delete_url/{{ url.short_id }}">delete</a></td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        No URLs saved so far.
    {% endif %}
    <a href="{% url 'shorten' %}">back</a>
</body>
</html>
